
#we{
background-image: url("../img/pic.jpg");
display:inline-block;
background-repeat:no-repeat;
background-size:cover;
width:100%;
height:100%;
position:relative;
}

#they {
	position:relative;
	top:87%;
	left:95%;
	width:50px;
	height:50px;
}
#she {
	position:absolute;
	width:270px;
	height:200px;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
#you {
	background-color:RGBA(0, 0, 0, 30%);
	display:inline-block;
	width:1500px;
	height:750px;
	position:relative;
	background-size:cover;
}