 #a {
 color:#a13941;
 background:#f9f5eb;
 font-size: 46px;
 text-align: center;
 }
 #center {
 width:50%;
 margin:0 auto;
 }
 #w {
 border:solid red 3px;
 background:#fcf6f5;
 }
 #s {
 color: #a13941;
 font-style:italic;
 }
body{
 font-size:26px;
 background:#f9f5eb;
 }
 #e {
 background:#f16529;
 color:black;
 border-radius: 10px;
 }
 #o {
 background:#2170bb;
 color:black;
 }
#aa{
	color:#a13941;
    text-align:center;
}
 #s {
	 text-align:center;
 }
 #p{
	 color:#a13941;
	 font-weight: bold;
	 
 }
 #r{
	 color:#a13941;
 }
 #d{
	font-size:italic;
 }
 #yes{
	 color:red;
	 display: inline-block;
 }
 #h {
	color:red; 
	display: inline;
	margin: 0 0 15px;
	
 }